/* TIPOGRAFIA */

p.destaque,
section#pizza p.destaque,
section#testemunha p.destaque{
    width: 80%;
}

/* HEADER */

nav{
    display: none;
}

/* DOMINGO PERFEITO */

div#domingo-perfeito-esquerda,
div#domingo-perfeito-direita{
    display: none;
}

div#domingo-perfeito-centro{
    width: 95%;
}

/* PIZZA */

div#pizza-opcoes-mestre{
    width: 95%;
}

/* TESTEMUNHOS */

div#testemunha-centro{
    width: 600px;
}

div#testemunha-esquerda,
div#testemunha-direita{
    display: none;
}

/* TRANSIÇÃO */

div#transicao-testemunha-plano{
    display: none;
}

/* PLANOS */

div#planos-janela{
    width: 100%;
}

div.planos{
    margin: 80px 5px;
}

@media screen and (max-width: 940px){
    div.planos{
        width: 220px;
    }
}

/* FOOTER */

footer div#mapa,
footer div#info{
    width: 45%;
}

footer div#info{
    margin-right: 35px;
}

footer div#redes-sociais ion-icon{
    width: 10%;
}

footer div#pizza-rodape-decoracao{
    display: none;
}

